<div class="pa2">
  <div class="ba br4 p2 pl3 mb3 b--purple bg-purple white">
    <h1>{{title}}</h1>
  </div>
  <div class="ma2">
    <div>
      <a routerLink=""
         routerLinkActive="active"
         class="link br2 pa1 ba bw1 bg-black yellow b--black">Home</a>
      <a routerLink="parks"
         routerLinkActive="active"
         class="link br2 pa1 ba bw1 bg-black yellow b--black">Parks</a>
      <a routerLink="cities"
         routerLinkActive="active"
         class="link br2 pa1 ba bw1 bg-black yellow b--black">Cities</a>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
