<div class="container ph4 pb4 black-80 br3 ma3 center w-70">
  <p class="f3 b">New Client: Model driven</p>
  <form class="measure center" [formGroup]="fg" (ngSubmit)="onSubmit(); fg.reset()">
    <div class="mt3">
      <label for="name" class="db lh-copy f5">Name</label>
      <input type="text"
             formControlName="name"
             class="pa1 ba b--black-20 br3 input-reset hover-bg-washed-blue hover-dark-blue w-100"
             required />
      <p *ngIf="fg.controls.name.errors && !fg.controls.name.untouched" class="notify">Name is required.</p>
    </div>

    <div class="mt3">
      <label for="surname" class="db lh-copy f5">Surname</label>
      <input type="text"
             formControlName="surname"
             required
             class="pa1 ba b--black-20 br3 input-reset hover-bg-washed-blue hover-dark-blue w-100" />
      <p *ngIf="fg.controls.surname.errors && !fg.controls.surname.untouched" class="notify">Surname is required.</p>
    </div>

    <div class="mt3">
      <label for="email" class="db lh-copy f5">Email</label>
      <input type="text"
             formControlName="email"
             required
             class="pa1 ba b--black-20 br3 input-reset hover-bg-washed-blue hover-dark-blue w-100" />
      <p *ngIf="fg.controls.email.errors && !fg.controls.email.untouched" class="notify">Email is required</p>
    </div>

    <div class="mt3">
      <label class="db">
        <input type="radio"
               value="male"
               formControlName="gender" /> Male
      </label>
      <label class="db pt1">
        <input type="radio"
               value="female"
               formControlName="gender" /> Female
      </label>
    </div>

    <button type="submit" class="link br2 bw3 btn-bg white fl mt3" [disabled]="!fg.valid">Save</button>
    <div class="fl mt4">
      <p>
        Form Status: {{ fg.status }}
      </p>
    </div>
  </form>
</div>
