<div class="container ph4 pb4 black-80 br3 ma3 center w-70">
  <p class="f3 b">Login: Template based</p>
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef); formRef.reset()" class="measure center">
    <div class="mt3">
      <label for="userid" class="db lh-copy f5">Username</label>
      <input type="text"
             name="userid"
             [(ngModel)]="username"
             required
             class="pa1 ba b--black-20 br3 input-reset hover-bg-washed-blue hover-dark-blue w-100">
    </div>

    <div class="mt3">
      <label for="password" class="db lh-copy f5">Password</label>
      <input type="password"
             name="password"
             [(ngModel)]="password"
             required
             minlength="5"
             class="pa1 ba b--black-20 br3 input-reset hover-bg-washed-blue hover-dark-blue w-100">
    </div>

    <div class="mt3">
      <label for="remember" >
        <input type="checkbox" name="remember" [(ngModel)]="remember" class="fw6 lh-copy f5">
        Remember
      </label>
    </div>

    <button class="link br2 ba bw3 btn-bg white fl mt3" type="submit" [disabled]="!formRef.valid">Login</button>
  </form>
</div>
