<header class="bg-purple fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
  <nav class="f6 fw6 ttu tracked">
    <a class="link dim amber dib mr3 f3 b" title="{{title}}">{{title}}</a>
  </nav>
</header>
<div class="pt6 ph3">
  <div class="fl w-50">
    <div class="pb2">Giant Message Board</div>
    <div>
      <app-message-board [message]="message"></app-message-board>
    </div>
    <div class="pb2 pt3_5">
      Message Entry
    </div>
    <div>
      <app-message-entry (messageEvent)="onMessageEvent($event)"></app-message-entry>
    </div>
  </div>
  <div class="fl w-50 bl pl2">
    <div class="bb">
      Counter
      <h3>Parent Count: {{count}}</h3>
      <div class="">
        <app-counter (countEvent)="onCountEvent($event)"></app-counter>
      </div>
    </div>
    <div class="pt2">
      Toggler
      <app-toggle></app-toggle>
    </div>
  </div>
</div>
